<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Events des Jahres</title>
	<link rel="stylesheet", href="style.css">
	<link rel="stylesheet", href="../dist/css/bootstrap.min.css">
</head>
<body>
	<div class="container background">
			<h1>Events im 2021</h1>
		Use Bootstrap for style sheet<a href="https://getbootstrap.com/" target="plank">
			<img src="../brand/bootstrap-logo.svg" alt="Visite the Bootstrap" width="50 px">
		</a>
		<ol>
			<li class="list first">11.10.2021 Vorlesungen in Präsenz</li>
			<li class="list">Bundestagswahl am 26.09.21</li>
			<li class="list">Propra 2 ist gestartet</li>
			<li class="list">Überschwemmung</li>
		</ol>

		<form method="post" action="events.html">
		    <h1 >Please sign in</h1>
		    <label for="vornameId">Vorname</label>
		    <input type="text" name="vorname" id="vornameId">
		    <label for="nachnameId">Nachname</label>
		    <input type="text" name="nachname" id="nachnameId">
		    <label>Email address</label>
		    <input type="email" name="Email" required autofocus>
		    <label for="passwordId">Password</label>
		    <input type="password" name="password" id="passwordId" required>
		    <label>Remember me</label>
		    <input type="checkbox" name="checkbox" required>
		    <button type="submit" class="btn btn-l btn-primary btn-block">Sign in</button>
		</form>

		<div class="container">
			  <div class="row">
			    <div class="col">Column1</div>
			    <div class="col">Column2</div>
			    <div class="col">Column3</div>
			  </div>
		</div>

		<h2 class="spin">CSS Animation</h2>
		<div class="box"></div>



	</div>

</body>
</html>